<!DOCTYPE html>
<html lang="en" dir="ltr" data-tcc-ignore="">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Allura|Amatic+SC|Arizonia|Averia+Sans+Libre|Cabin+Sketch|Francois+One|Jacques+Francois+Shadow|Josefin+Slab|Kaushan+Script|Love+Ya+Like+A+Sister|Merriweather|Offside|Open+Sans|Open+Sans+Condensed|Oswald|Over+the+Rainbow|Pacifico|Romanesco|Sacramento|Seaweed+Script|Special+Elite">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Dosis|Dorsa">
    <link rel="stylesheet" type="text/css" href="/css/default.purged.css?v=1">
    {% include meta.html %}
</head>

<body>

    <div class="wsb-canvas body">
        <div class="wsb-canvas-page-container" style="min-height: 100%; padding-top: 0px; position: relative;">
            <div class="wsb-canvas-scrollable" style="background-color: #000000; background-image: url(/images/galaxy.png); background-position-x: center; background-position-y: center; background-position: center center; background-repeat: repeat-y; position: absolute; width: 100%; height: 100%;"></div>

            {{ content }}

            <div id="wsb-canvas-template-footer" class="wsb-canvas-page-footer footer" style="margin: auto; min-height:100px; height: 154px; width: 913px; position: relative;">
                <div id="wsb-canvas-template-footer-container" class="footer-container" style="position: absolute">
                    <div id="wsb-element-aeb0b00d-4068-44d2-930b-d9631d305523" class="wsb-element-navigation">
                        <div style="width: 970px; height: 75px;" class="wsb-nav nav_theme nav-text-center nav-horizontal nav-btn-left wsb-navigation-rendered-top-level-container" id="wsb-nav-aeb0b00d-4068-44d2-930b-d9631d305523">
                            <ul class="wsb-navigation-rendered-top-level-menu ">
                                <li style="width: auto"{% if page.permalink == '/index.html' %} class="active"{% endif %}><a href="/index.html" target="" data-title="Welcome" data-pageid="00000000-0000-0000-0000-000004066204" data-url="/index.html">Welcome</a></li>
                                <li style="width: auto"{% if page.permalink == '/main.html' %} class="active"{% endif %}><a href="/main.html" target="" data-title="Book" data-pageid="00000000-0000-0000-0000-000003725555" data-url="/main.html">Book</a></li>
                                <li style="width: auto"{% if page.permalink == '/about-us.html' %} class="active"{% endif %}><a href="/about-us.html" target="" data-title="Tickets" data-pageid="00000000-0000-0000-0000-000003730577" data-url="/about-us.html">Tickets</a></li>
                                <li style="width: auto"{% if page.permalink == '/services.html' %} class="active"{% endif %}><a href="/services.html" target="" data-title="Songs" data-pageid="00000000-0000-0000-0000-000011669954" data-url="/services.html">Songs</a></li>
                                <li style="width: auto"{% if page.permalink == '/memes.html' %} class="active"{% endif %}><a href="/memes.html" target="" data-title="MEMES" data-pageid="7428ee98-33ee-41c1-999f-4d3e902a34c1" data-url="/memes.html">MEMES</a></li>
                                <li style="width: auto"{% if page.permalink == '/get-in-touch.html' %} class="active"{% endif %}><a href="/get-in-touch.html" target="" data-title="GET IN TOUCH!" data-pageid="00000000-0000-0000-0000-000003730591" data-url="/get-in-touch.html">GET IN TOUCH!</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="wsb-element-8df25791-9922-4ea5-8708-f1a06c1765a5" class="wsb-element-image">
                        <div class="wsb-image-inner ">
                            <div class="img"><img src="/images/cropped-tweet.png" style="vertical-align:middle;width:25px;height:24px;"></div>
                        </div>
                    </div>
                    <div id="wsb-element-63017c91-41b1-4e9d-9ca3-f726649e8ea2" class="wsb-element-image">
                        <div class="wsb-image-inner ">
                            <div class="img"><img src="/images/cropped-utube.png" style="vertical-align:middle;width:24px;height:24px;"></div>
                        </div>
                    </div>
                    <div id="wsb-element-99d1051f-967a-4977-a9fe-c2d7b9378db1" class="wsb-element-image">
                        <div class="wsb-image-inner ">
                            <div class="img"><img src="/images/cropped-face.png" style="vertical-align:middle;width:25px;height:24px;"></div>
                        </div>
                    </div>
                    <div id="wsb-element-5b31fa43-b1bd-4e8d-88b9-28449f90cf77" class="wsb-element-text">
                        <div class="txt ">
                            <p style="text-align: right;"><span class="editor_footer_copyright">Transpotime21bus © &nbsp;All rights reserved. </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
